body {
  font-family: 'Noto Sans', sans-serif;
}

.publication-title {
  font-family: 'Google Sans', 'Noto Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', 'Noto Sans', sans-serif;
  margin-bottom: 20px;
}

.author-block {
  display: inline-block;
}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
  text-decoration: none;
}

.publication-authors a:hover {
  color: hsl(204, 86%, 31%) !important;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}
